<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Voting System</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <div class="container">
        <div class="option">
            <h2>View Candidates</h2>
            <!-- Add content or functionality related to viewing candidates here -->
        </div>

        <div class="option">
            <h2>Vote</h2>
            <button onclick="redirectToVotingPage()">Go to Voting</button>
        </div>

        <div class="option">
            <h2>See Election Results</h2>
            <button onclick="redirectToResultsPage()">View Results</button>
        </div>
    </div>

    <script src="/static/js/script.js"></script>
</body>
</html>
